@{
    ViewData["Title"] = "ContactUs";
}

<section id="contact" class="contact-area after-none contact-bg pt-120 pb-50 p-relative fix">
    <div>
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 order-2">
                <div class="contact-info d-flex justify-content-around">
                    <div class="single-cta pb-30 mb-20 wow fadeInUp animated" data-animation="fadeInDown animated" data-delay=".2s">
                        <div class="f-cta-icon">
                            <i class="far fa-envelope-open"></i>
                        </div>
                        <h5>Message Us</h5>
                        <p>
                            <a href="https://wa.me/00962786634288" target="_blank" class="text-primary">WhatsApp Us</a><br>
                            <a href="#" class="text-primary">support@example.com</a>
                        </p>
                    </div>
                    <span class="single-cta pb-30 mb-20 wow fadeInUp animated" data-animation="fadeInDown animated" data-delay=".2s">
                        <div class="f-cta-icon">
                            <i class="fas fa-phone-alt"></i>
                        </div>
                        <h5>Call Us</h5>
                        <p> 
                            <a href="tel:00962786634288" class="text-primary">00962786634288</a><br />
                            <a href="tel:00962786634288" class="text-primary">00962786634288</a>
                        </p>
                    </span>
                </div>
                <div class="contact-info d-flex justify-content-around">
                    <div class="single-cta pb-30 mb-20 wow fadeInUp animated" data-animation="fadeInDown animated" data-delay=".2s">
                        <div class="f-cta-icon">
                            <i class="far fa-map"></i>
                        </div>
                        <h5>Office Address</h5>
                        <p>
                            380 St Kilda Road, Melbourne <br>
                            VIC 3004, Australia
                        </p>
                    </div>
                    <span class="single-cta pb-30 mb-20 wow fadeInUp animated" data-animation="fadeInDown animated" data-delay=".2s">
                        <div class="f-cta-icon">
                            <i class="far fa-clock"></i>
                        </div>
                        <h5>Working Hours</h5>
                        <p>
                            Monday to Friday<br>
                            09:00 to 18:30
                        </p>
                    </span>
                </div>

            </div>
            
        </div>
    </div>
    
</section>
<div class="map fix" style="background: #f5f5f5;">
    <div class="container-flud">

        <div class="row">
            <div class="col-lg-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d212867.83634504632!2d-112.24455686962897!3d33.52582710700138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b743829374b03%3A0xabaac255b1e43fbe!2sPlexus%20Worldwide!5e0!3m2!1sen!2sin!4v1618567685329!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>
