@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<section class="contact-area section--padding position-relative" style="margin-bottom:30px">
    <span class="ring-shape ring-shape-1"></span>
    <span class="ring-shape ring-shape-2"></span>
    <span class="ring-shape ring-shape-3"></span>
    <span class="ring-shape ring-shape-4"></span>
    <span class="ring-shape ring-shape-5"></span>
    <span class="ring-shape ring-shape-6"></span>
    <span class="ring-shape ring-shape-7"></span>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <div class="card card-item">
                    <div class="card-body">
                        <h3 class="card-title text-center fs-24 lh-35 pb-4">
                            Create an Account  <br />
                            
                        </h3>
                        <div class="section-block"></div>
                        <form asp-action="Register" asp-controller="Account" method="post" class="pt-4">

                            
                            <div class="input-box">
                                <label asp-for="FirstName" class="label-text"></label>
                                <div class="form-group">
                                    <input class="form-control form--control"
                                           asp-for="FirstName"
                                           placeholder="First name" />
                                    <span class="la la-user input-icon"></span>
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <!-- end input-box -->
                            <div class="input-box">
                                <label asp-for="LastName" class="label-text"></label>
                                <div class="form-group">
                                    <input class="form-control form--control"
                                           asp-for="LastName"
                                           placeholder="Last name" />
                                    <span class="la la-user input-icon"></span>
                                    <span asp-validation-for="LastName" class="text-danger"></span>

                                </div>
                            </div>
                            <!-- end input-box -->
                            <div class="input-box">
                                <label asp-for="Email" class="label-text"></label>
                                <div class="form-group">
                                    <input class="form-control form--control"
                                           asp-for="Email"
                                           placeholder="Email Address" />
                                    <span class="la la-user input-icon"></span>
                                    <span asp-validation-for="Email" class="text-danger"></span>

                                </div>
                            </div>
                            
                            <!-- end input-box -->
                            <div class="input-box">
                                <label asp-for="Password" class="label-text"></label>
                                <div class="input-group mb-3">
                                    <span class="la la-lock input-icon z-index-6"></span>
                                    <input class="form-control form--control top-bottom-left-radius-5 password-field"
                                           asp-for="Password"
                                           placeholder="Password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>

                                </div>
                            </div>
                            
                            <!-- end input-box -->
                            <div class="input-box">
                                <label asp-for="ConfirmPassword" class="label-text"></label>
                                <div class="input-group mb-3">
                                    <span class="la la-lock input-icon z-index-6"></span>
                                    <input class="form-control form--control top-bottom-left-radius-5 password-field"
                                           asp-for="ConfirmPassword"
                                           placeholder="Confirm Password" />
                                    <div asp-validation-for="ConfirmPassword" class="text-danger"></div>
                                </div>
                            </div>
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <button class="btn theme-btn" type="submit">
                                Register Account
                                <i class="la la-arrow-right icon ms-1"></i>
                            </button>
                            <p class="fs-14 pt-2">
                                Already have an account?
                                <a asp-action="Login" asp-controller="Account" class="text-color hover-underline">Log in</a>
                            </p>
                            <!-- end btn-box -->
                        </form>
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col-lg-7 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>