@model DecareCenter.Models.AboutUs

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>About Us</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AboutUsTitle" class="control-label"></label>
                <input asp-for="AboutUsTitle" class="form-control" />
                <span asp-validation-for="AboutUsTitle" class="text-danger"></span>
            </div>
            <div class="form-group" style="height:200px; margin-bottom:40px">
                <label asp-for="AboutUsDetails" class="control-label"></label>
                <textarea asp-for="AboutUsDetails" class="form-control"></textarea>
                <span asp-validation-for="AboutUsDetails" class="text-danger"></span>
            </div>
            <div class="form-group" style="height:200px; margin-bottom:40px">
                <label asp-for="AboutUsDetails2" class="control-label"></label>
                <textarea asp-for="AboutUsDetails2" class="form-control"></textarea>
                <span asp-validation-for="AboutUsDetails2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="font-weight-bold "></label>
                <input asp-for="ImageFile" class="form-control form-control-lg" type="file" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CenterId" class="control-label"></label>
                <select asp-for="CenterId" class ="form-control" asp-items="ViewBag.CenterId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

