<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Decare - Dentist & Dental Clinic HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="~/main/decare/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/main/decare/css/animate.min.css">
    <link rel="stylesheet" href="~/main/decare/css/magnific-popup.css">
    <link rel="stylesheet" href="~/main/decare/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="~/main/decare/css/dripicons.css">
    <link rel="stylesheet" href="~/main/decare/css/slick.css">
    <link rel="stylesheet" href="~/main/decare/css/meanmenu.css">
    <link rel="stylesheet" href="~/main/decare/css/default.css">
    <link rel="stylesheet" href="~/main/decare/css/style.css">
    <link rel="stylesheet" href="~/main/decare/css/responsive.css">

</head>
<body>
    <!-- header -->
   @await Component.InvokeAsync("Nav")
    <!-- header-end -->
    <!-- main-area -->
    <main>
        <main role="main">
            @RenderBody()
        </main>
    </main>
    <!-- main-area-end -->
    <!-- footer -->
    @await Component.InvokeAsync("Footer")
    <!-- footer-end -->
    <!-- JS here -->
    <script src="~/main/decare/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/main/decare/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/main/decare/js/popper.min.js"></script>
    <script src="~/main/decare/js/bootstrap.min.js"></script>
    <script src="~/main/decare/js/slick.min.js"></script>
    <script src="~/main/decare/js/ajax-form.js"></script>
    <script src="~/main/decare/js/paroller.js"></script>
    <script src="~/main/decare/js/wow.min.js"></script>
    <script src="~/main/decare/js/js_isotope.pkgd.min.js"></script>
    <script src="~/main/decare/js/imagesloaded.min.js"></script>
    <script src="~/main/decare/js/parallax.min.js"></script>
    <script src="~/main/decare/js/jquery.waypoints.min.js"></script>
    <script src="~/main/decare/js/jquery.counterup.min.js"></script>
    <script src="~/main/decare/js/jquery.scrollUp.min.js"></script>
    <script src="~/main/decare/js/jquery.meanmenu.min.js"></script>
    <script src="~/main/decare/js/parallax-scroll.js"></script>
    <script src="~/main/decare/js/jquery.magnific-popup.min.js"></script>
    <script src="~/main/decare/js/element-in-view.js"></script>
    <script src="~/main/decare/js/main.js"></script>


</body>
</html>